[2017-09-04 10:09] knagware9 opened #5 "enroll against the ca not workin"
![image](https://user-images.githubusercontent.com/25450953/30022034-2393018c-9187-11e7-8861-a965b93a1bc6.png)
Its showing

Sorry, we could not enroll the admin against the CA.

Edit the settings below to try again.

CA's api_url

enrollId

enrollSecret

[2017-09-05 12:43] mrshah-at-ibm commented on #5
@knagware9 you will have to use the CA's URL from the connection profile mentioned at the end of https://ibm-blockchain.github.io/interacting/

It constitutes of your worker node's PUBLIC_IP and the port exposed by the service. You can find the public IP by executing  `bx cs workers blockchain`

[2017-09-15 13:06] mrshah-at-ibm opened #10 "Add instructions to copy the admin certs out from the kubernetes setup"
Add instructions to use `kubectl cp` admin certs out of the setup so can be used to install/instantiate chaincode

[2017-09-16 14:26] vishwasrao opened #11 "Not able to Access the Composer REST Server"
Hi,
I am following steps given in https://ibm-blockchain.github.io/interacting/
for step 4. Start and Access the Composer REST Server
It is expecting businessnetworkid , here i am giving business network name which i used while using composer playground.
I am able to create rest server successfully.

`vishwasrao@vishwasrao-desktop:~/Desktop/projects/blockchain/hyperledger/ibm-container-service/cs-

[2017-09-17 20:14] Pasteis commented on #11
I have same issue from a clean deployment into new cluster. It appears to be set up correctly but get the same error as Vishwas reported above. The Playground seems to work correctly.

[2017-09-17 20:23] dhyey20 commented on #11
https://github.com/IBM-Blockchain/ibm-blockchain.github.io/issues/40
It is the same issue as this one. We will try to post the updated instructions ASAP.

[2017-09-18 04:35] vishwasrao commented on #11
Hi All,
 I got it resolved :)
let me share some thoughts here.
1. While creating REST server it asks for business network ID, to be frank i do not know from where I can get this id. But while going through github repo i come to know commit comment ans business network name. So I tried with business network name.
So may be we need to change docs or command while creating REST server.
2. I was doing

[2017-09-18 08:21] Pasteis commented on #11
I suggest an update in docs to make it more clear that where this business network identity is defined when you use Composer. Assuming it's the Composer UI field "Give your new Business Network a name:" that is relevant? And second, while Composer details difference between Web Browser and hlfv1, this tutorial should just state "use hlfv1" to be as accurate as possible.

[2017-09-18 13:35] dhyey20 commented on #11
https://github.com/IBM-Blockchain/ibm-blockchain.github.io/pull/41/

Instructions have been updated. Feel free to re-open if the problem arises again.

[2017-09-18 13:35] #11 closed

[2017-09-18 13:55] dhyey20 commented on #5
@knagware9 any updates on this?

[2017-09-25 14:07] debrajo opened #13 "Need channel/chaincode logs"
We're installing chaincode to this fabric setup using the fabric sdk.  How do we get to the channel/chaincode logs?

[2017-09-25 14:16] dhyey20 commented on #13
Based on PR: https://github.com/IBM-Blockchain/ibm-container-service/pull/9, the chaincode logs go to the peers log. Channel logs were already a part of the peer logs (as well as the orderer logs).

Try using the kubernetes UI, using `kubectl proxy` and then opening the url `127.0.0.1:8001/ui` to see the logs. Or from the CLI use `kubectl logs <pod-name> [<container-name>]`

[2017-09-25 15:15] debrajo commented on #13
Thank you!  I rebuilt the containers with the latest source and chaincode logs are now integrated in wiht peer logs ..

[2017-09-25 15:15] #13 closed

[2017-09-25 20:48] #5 closed

[2017-09-26 17:22] kletkeman opened #14 "install all fails with timeouts ..."
For two days I have been unable to run install all on a freshly created container service ... I get timeouts on some server somewhere and that continues ad infinitem (left it over night for example) ...

[code]

[2017-09-26 21:21] dhyey20 commented on #14
@kletkeman I feel like it is a Container Service problem. Check the status of your cluster by using `bx cs clusters`, `bx cs workers <cluster-name>`. Also check the status of the container-service on bluemix. We have seen this error when i/o timeout happens as the local kubernetes client cannot connect to the kubernetes cluster.

[2017-09-27 00:17] kletkeman commented on #14
[code]

Looks fine to me. Bluemix console says ready as well.

[2017-09-27 00:22] kletkeman commented on #14
Thought I'd try to start over ... but that failed too.
[code]

[2017-09-27 13:30] mrshah-at-ibm commented on #14
Not sure if you were able to export the KUBECONFIG correctly.

Can you please run `bx cs cluster-config kimchain` and run the export command that you get?

[2017-09-27 14:08] pastadin opened #17 "Add Instructions for customising the config"
It would be useful if there was information to help users to customise the scripts, for example using our own `configtx.yaml` and `crypto.yaml` files - how would we pass these into the pods?

Other general information about customising the scripts would be good (as well as some links to specific pages in the kubernetes docs to serve as a pre-requisite to getting stated modifying them).

[2017-09-27 19:17] dhyey20 commented on #17
The only way that the user will be able to change the configs is by making a new image. So for eg. if someone wants to change `configtx.yaml` they can do something like:

Dockerfile:
[code]

and then build the image
`docker build -f Dockerfile -t custom-tag .`

push the image to personal dockerhub
`docker login`
`docker push custom-tag`
`docker logout`

change the tools image in the `kubeconfig/*.

[2017-09-27 22:59] kletkeman commented on #14
Looks like it worked. Many thanks. I must have missed a step in the instructions.

[2017-09-27 22:59] #14 closed

[2017-10-01 12:05] ptuton opened #20 "cs-offerings/free/scripts/create/create_storage.sh should be checking for shared-pvc not shared-pv"
Lines 11 and 19 in cs-offerings/free/scripts/create/create_storage.sh are currently:
`if [ "$(kubectl get pvc | grep shared-pvc | awk '{print $3}')" != "shared-pv" ]; then`

These lines appear to be checking for a **persistent volume claim** with the name `"shared-pv"`. This is the name of the *persistent volume*, not the *persistent volume claim*. I believe these lines should be checking for a wi

[2017-10-02 13:57] mrshah-at-ibm commented on #20
@ptuton thanks for reporting this. We will be fixing it in our next PR today.

[2017-10-02 14:16] dhyey20 opened #21 "Remove old env vars from peer"
Some changes in core.yaml means that we need to remove corresponding env vars from the kubeconfigs. Although they won't cause any harm, we don't want people using the configs to get confused.

[2017-10-04 13:52] mrshah-at-ibm commented on #17
@pastadin did the above mentioned solution work for you? Can we close this?

[2017-10-04 13:53] dhyey20 commented on #20
@ptuton
```$(kubectl get pvc | grep shared-pvc | awk '{print $3}')" != "shared-pv"```
Here we wanted to check that the `shared-pvc` volume claim is bound to `shared-pv` persistant volume. What you are telling will also work, but the thing we want to check is the relation between `shared-pv` and `shared-pvc`.

[2017-10-09 20:47] ykcai opened #23 "joinchannel fails during installation initiated by ./create_all.sh --with-couchdb script"
During the installation the logs get stuck on
[code]
Looking at the container logs it seems like a connection error.
[code]

[2017-10-09 20:58] dhyey20 commented on #23
@ykcai Can you send peer logs? Also result of `kubectl get pods -a`

[2017-10-09 21:04] ykcai commented on #23
Logs from peer :
[code]

[2017-10-09 21:28] cpagravel commented on #23
I am experiencing the same problem. I went back to commit 70a1ffa in order to fix the issue.

[2017-10-10 14:35] dhyey20 commented on #23
@ykcai I was able to reproduce the error. As per my investigation, the peer is not able to connect to the couchdb, as the requests are timing out. On looking at the couchdb logs, I see the following logs

[code]

We will be looking more into how to solve this problem.

[2017-10-10 19:48] #23 closed

[2017-10-12 20:02] altharp opened #27 "Advanced Install Steps Need Updated Commands"
I attempted to follow the “Advanced Install” [instructions](https://ibm-blockchain.github.io/advanced/)) and the first command to join a channel did not finish.  The symptom was that a “Waiting for joinchannel container to be Completed” message was output repeatedly and the operation did not finish.  This was observed using code cloned from [https://github.com/IBM-Blockchain/ibm-container-service]

[2017-10-13 13:13] dhyey20 opened #29 "Updating composer yamls for helm charts"
@jt-nti Raised this issue.
[code]

We need to update the helm charts to be in-sync with the kubernetes yamls.

[2017-10-13 14:20] jt-nti commented on #29
Out of interest, what are the helm charts?

[2017-10-13 14:22] dhyey20 commented on #27
Thanks @altharp for reporting this. Most of the issues are because of the changed ports, that were not reflected in the documentation. Making those changes and trying to make sure that we dont miss changing ports at other places.

[2017-10-13 14:26] dhyey20 commented on #27
https://github.com/IBM-Blockchain/ibm-blockchain.github.io/pull/53, made this PR to fix the issues.

[2017-10-13 15:34] dhyey20 commented on #29
Same way as nodejs has npm modules, kubernetes supports package management using helm charts. So if you do `helm install blockchain` pointing to your kubernetes cluster, then it will start a blockchain network (given once they accept our charts/ PR is pending). You can see more about it here: https://github.com/kubernetes/helm/blob/master/docs/charts.md

[2017-10-13 18:21] #27 closed

[2017-10-17 15:34] mrshah-at-ibm commented on #20
https://github.com/IBM-Blockchain/ibm-container-service/pull/26 fixes this.

[2017-10-17 15:34] #20 closed

[2017-10-17 15:42] mrshah-at-ibm opened #30 "Remove the download of the tools executable from kubeconfig"
As we have moved to v1.0.3, the certificate issue in cryptogen is now fixed. We should remove the code to pull the latest cryptogen executable.

It is located at https://github.com/IBM-Blockchain/ibm-container-service/blob/master/cs-offerings/kube-configs/blockchain.yaml#L22

[2017-10-17 17:39] #21 closed

[2017-10-17 17:40] #29 closed

[2017-10-17 18:01] #30 closed

[2017-10-18 05:54] itsdeepakrai opened #34 "cannot open Rest API UI"
We have deployed this in BLuemix Kubernetes , UI is here http://173.193.120.98:31080/login
But we are unable to open the REST API UI , which ideally according to the documentation https://ibm-blockchain.github.io/interacting/ should be available   http://173.193.120.98:31090/explorer/

[2017-10-18 13:11] mrshah-at-ibm commented on #34
@itsdeepakrai Did you follow the steps (3) and (4) on https://ibm-blockchain.github.io/interacting/ ? You need to deploy a business network on composer playground to be able to use the rest server.

[2017-10-18 13:35] ykcai commented on #34
Had similar problems running the ./create_composer-rest-server.sh script but no REST API was showing up. `kubectl proxy` tells me that my composer-rest-server is running but i did not see it on `:31090/explorer/` and i had a network deployed. A new and clean cluster resolved this.

[2017-10-19 15:58] dwakeman opened #35 "As an Administrator I want to be able to deploy blockchain into IBM Cloud Private"
I have tried to use these scripts to deploy to IBM Cloud Private, but something seems to go wrong with the bootstrap process for the orderer.  My instance if ICp does have NFS as a storage type, and it has multiple workers, but I noticed the persistent volumes use Hostpath.  Is that an issue?

Thanks!

[2017-10-19 19:02] mrshah-at-ibm commented on #35
yes, that is an issue. we can add a template for it.

[2017-10-19 20:38] CarlitoIBM commented on #34
Hello, I am facing the same issue. I deployed the business network but it seems that the rest server cannot recognize it:
`Error trying to query business network. Error: could not find chaincode with name 'my-network' - make sure the chaincode my-network has been successfully instantiated and try again`

[2017-10-25 12:58] #17 closed

[2017-10-25 12:59] dhyey20 commented on #34
@itsdeepakrai any updates? Did it work for you?

[2017-10-29 05:11] ykcai opened #36 "Support for 0.14.2 and up?"
Will there be updates for ever stable version of Composer? Id like to use some of the new features but I cannot do that as the runtime for my local is 0.14.2 but remote is still 0.13.2

[2017-10-31 09:39] sstone1 commented on #36
Being handled in my pull request:
https://github.com/IBM-Blockchain/ibm-container-service/pull/37

[2017-10-31 14:26] #36 closed

[2017-11-02 15:46] mrshah-at-ibm commented on #10
Adding some more context:

Currently, `configtxgen` is used to generate all the crypto for the network. There are no instructions on how to copy the admin certificates out from the network.

We should add instructions to copy the certificates (private keys) out from the network using the following command:
[code]

[2017-11-02 20:21] #34 closed

[2017-11-02 20:33] eacoeytaux opened #38 "Unformatted instructions at the end of "Advanced Instructions" page"
At the very bottom of the "Advanced Instructions" page there is the unformatted text `echo “” echo “=> CREATE_ALL: Running instantiate chaincode on channel "channel1" using "Org1MSP"” CHANNEL_NAME=”channel1” CHAINCODE_NAME=”example02” CHAINCODE_VERSION=”v1” MSP_CONFIGPATH=”/shared/crypto-config/peerOrganizations/org1.example.com/users/Admin@org1.example.com/msp” PEER_MSPID=”Org1MSP” PEER_ADDRESS=”

[2017-11-03 11:01] mrshah-at-ibm opened #39 "Set the CORE_PEER_ID for org1peer1"
The default peer id is `jdoe`.. We should specify the peer ids for all the peers in the network. `org1peer1` is missing the peer id.

[2017-11-10 13:25] data-henrik opened #42 "Creating "composer-identity-import" hangs with "Waiting for composer-identity-import container to be Completed""
I am trying to deploy the blockchain code to a Lite cluster in US South. Both the simple install with "create_all.sh" as well as the Advanced Install don't work for me. Creating the "composer-identity-import" seems to result in an error:
[code]

From the output it is not clear why it is failing. I tried both the leveldb and couchdb versions.

[2017-11-10 14:13] ibmmark opened #43 "Add to the disclaimer info on the network pulse (issue #41)"
Issue #41 Adds a small container in the orderer pod which sends a GET request to a pulse endpoint every 10 seconds. This to allow maintainers to keep track of how many blockchain networks are currently active on ibm container service.

The only data sent is a UUID which serves to identify repeated pulses from the same network. This UUID is not attached to any client data and is not persisted anywh

[2017-11-10 14:27] ibmmark commented on #43
I propose to add the following to the disclaimer documentation:

"For serviceability needs regarding the number of network activity, IBM has added a mechanism in the ordering service to collect a "pulse" from the networks. The UUIDs are collected periodically, there is no blockchain or transaction information or data gathered or accessed, it's only purpose is provide information on activity passin

[2017-11-10 14:29] mrshah-at-ibm commented on #42
@data-henrik

Can you post the composer-identity-import pod - `kubectl get logs composer-identity-import`?
Also can you make sure other network components are running fine - `kubectl get pods -a`?

@sstone1 heads up!

[2017-11-10 14:34] mrshah-at-ibm commented on #43
@ajpauwels ^

[2017-11-10 14:36] data-henrik commented on #42
[code]
For the logs the command returns "the server doesn't have a resource type "logs""

[2017-11-10 14:37] mrshah-at-ibm commented on #42
My bad @data-henrik the command is `kubectl logs composer-identity-import`

[2017-11-10 14:39] data-henrik commented on #42
[code]

[2017-11-10 14:52] sstone1 commented on #42
@data-henrik please can you pick up the changes that have just been merged to the `ibm-container-service` repository and try again? You have picked up Composer v0.15.0 and we have not yet updated the scripts to work with this version.

[2017-11-10 15:25] data-henrik commented on #42
I don't see the update yet.

[2017-11-10 16:19] data-henrik commented on #42
Works. The updated scripts completed successfully. Issue can be closed

[2017-11-10 16:19] #42 closed

[2017-11-10 17:03] mastersingh24 commented on #43
@ibmmark  - wording sounds good.  Check out the "Privacy Notice" [here](https://github.com/IBM-Blockchain-Archive/cp-web) that we had to put in for tracking deployments of the cp-web app.
So we might need to add a Privacy Notice section and put the wording under that

[2017-11-10 19:18] ajpauwels commented on #43
I've added a Privacy Notice section and put in the slightly modified disclaimer from Mark, let me know what you guys think.

[2017-11-20 10:58] georg90 opened #44 "Error from server (NotFound): pods "utils" not found (Blockchain network install fails)"
When trying to install the blockchain network I run into the following error (on macOS):

Using [this](https://ibm-blockchain.github.io/advanced/) tutorial in step 2:

[code]

I ran the `export` command before following this step. But I think the config is not used?

[2017-11-20 11:43] mrshah-at-ibm commented on #44
@georg90 can you provide us with following details?

1. Operating System where the kubectl client is running. I suspect this is a windows system and is not interpreting the `kubectl create -f` command correctly.
2. The output of `kubectl version`

[2017-11-20 12:06] georg90 commented on #44
As i wrote above, I am using macOS.

This is the output:
[code]

[2017-11-20 14:00] mrshah-at-ibm commented on #44
@georg90 can you look into `./create/create_blockchain.sh` and run the commands manually?

Let's try the first command `kubectl create -f /ibm-container-service/cs-offerings/scripts/create/../../kube-configs/blockchain-services-free.yaml`.. Does it work or errors out?

[2017-11-20 14:10] georg90 commented on #44
This works:

[code]

[2017-11-20 14:17] mrshah-at-ibm commented on #44
It will not work because of the errors in creating services and other components..

Can you try to run `. create_blockchain.sh` or `source create_blockchain.sh` or `sh create_blockchain.sh`?

[2017-11-20 14:23] georg90 commented on #44
same result. I think it has to do with the path settings, they might be off for macOS vs. linux structure? Since the script fails but the actual command works

[2017-11-20 14:47] mrshah-at-ibm commented on #44
Looks like it is not interpreting https://github.com/IBM-Blockchain/ibm-container-service/blob/master/cs-offerings/scripts/create/create_blockchain.sh#L42 line correctly.

Can you add `echo ${KUBECONFIG_FOLDER}` right above that line? for some reason it is replacing `-f /ibm-container-service` in the command with `- ibm-container-service`

[2017-11-20 15:21] georg90 commented on #44
Output is as expected:
`ibm-container-service/cs-offerings/scripts/create/../../kube-configs`

[2017-11-20 15:24] mrshah-at-ibm commented on #44
@georg90 I don't think the output is as expected.

It is missing the `/` before `ibm-container-service`

[2017-11-21 07:24] georg90 commented on #44
Sorry, that's an error on my side, the complete path hast a `/` in front of the path

[2017-11-21 07:37] georg90 commented on #44
Found the problem! My path included a `- ` - so the complete path was `/somwhere/some - thing/ibm..` This leads to the error.

Thank you @mrshah-at-ibm for your help! This can be closed

[2017-11-21 07:37] #44 closed

[2017-11-22 16:40] dwakeman opened #45 "Cannot ping network after installing and starting it with fabric running on IBM Cloud Private"
I used the `create_all.sh` script to deploy Fabric and Composer Playground to kubernetes on IBM Cloud Private.  I have an instance running in a VM on my mac, created using the script found [here](https://github.com/IBM/deploy-ibm-cloud-private).  That script gives me a working CP environment with 3 worker nodes and one master node, all running in separate virtual containers inside the VM.  It also

[2017-11-22 18:23] mrshah-at-ibm commented on #45
@sstone1 can you help?

[2017-11-29 10:04] JayasreeVenugopal opened #48 "Getting error when trying to import card in composer"
Getting error as below, when trying to import an updated card/newly created card.
Error: Failed to save card: admin@test-bna
Command failed

Any help??

[2017-11-29 12:14] mrshah-at-ibm commented on #38
This was fixed by the above mentioned PR

[2017-11-29 12:14] #38 closed

[2017-11-29 12:15] mrshah-at-ibm commented on #10
https://github.com/IBM-Blockchain/ibm-blockchain.github.io/pull/56 fixes this.

[2017-11-29 12:15] #10 closed

[2017-11-29 12:16] mrshah-at-ibm opened #49 "Start producing releases to keep track of working combination of components"
I want Sign-Off by @sstone1 @ajpauwels @dhyey-ibm before we cut the first release.

[2017-11-29 14:18] dhyey20 commented on #49
Lets wait till I fix #39 and we merge #41.

[2017-11-29 14:31] #39 closed

[2017-11-30 11:17] rthatcher opened #51 "update_card.sh - bug with card file name"
If the user specifies a 'local' filename for the card e.g. `-c mycard.card` then the patched .card file gets created in the $TMPDIR and gets deleted!

The workaround is to specify the full path of the card e.g. `-c /home/rob/mycard.card`

Also the usage says `-f mycard.card` but the example uses `-c`

[2017-11-30 16:36] davidkel commented on #51
@sstone1 https://github.com/IBM-Blockchain/ibm-container-service/pull/52

[2017-11-30 22:13] timroster opened #53 "helm-charts deploy script only safe in dedicated namespace"
There are assumptions in the logic for `helm-charts/deploy_charts.sh` that will cause problems if run in a namespace that contains other running pods or helm charts.

1. The script lists and removes any existing helm charts in the namespace including others which may not have been deployed by the script
2. Deployment completion checks depend on specific numbers of running and completed pods before

[2017-12-04 16:14] #51 closed

[2017-12-07 00:21] timroster opened #55 "helm chart for ibm-blockchain-chaincode intermittently fails for chaincodeinstantiate"
The logic in the command for the chaincodeinstantiate pod looks for a shared file that can be created by either org1peer1 or org2peer1 chaincode install pod. This creates a race conditition where the chaincodeinstantiate pod can run before org1peer1 has installed the chaincode resulting in errors like:

[code]

[2017-12-07 01:00] mrshah-at-ibm commented on #55
Thanks @timroster.. We will verify the PR and merge it.

[2017-12-11 17:41] #55 closed

[2017-12-11 18:20] DennisM330 commented on #45
I was able to deploying, start, and ping my business network using the latest version of the helm charts to deploy the underlying hyperledger fabric if did the composer runtime install, network start, composer card import, and composer network ping command from my Mac OS. If I tried to use a composer CLI pod to try and perform the composer network ping, the ping would timeout. All the other compos

[2017-12-20 15:52] #43 closed

[2017-12-20 16:32] dhyey20 opened #58 "Couchdb does not work with paid version of scripts"
We figured that the problem is with how the services are defined. We need to add targetPort to all the services in the paid-services yaml so that the services are also exposed on the clusterIP on the port that we are using to communicate internally.

[2018-01-02 06:40] donbr commented on #45
Have you tried running the following script after downloading the card?

    cs-offerings/scripts/connection-profile/update_card.sh

[2018-01-10 14:51] eddie-at-ibm opened #60 "Add tests to open source Kubernetes Helm Charts so PRs can be merged"
The open source helm charts are close to getting approval to merge.  Each chart requires tests.  I have added trivial tests to each that simply echo the name of the chart, but they need to be updated to be more substantial and ensure the network is functioning properly.

The charts have been reviewed many times; however, additional items are found each time that need to be corrected.  Here are the

[2018-01-10 14:56] eddie-at-ibm commented on #60
@mrshah-at-ibm / @dhyey-ibm, I have been updating the helm charts in this repository and then copying them over to the [charts](https://github.com/kubernetes/charts) repository.

PR https://github.com/IBM-Blockchain/ibm-container-service/pull/59 has my changes in it, but as you can see in the PR there are some issues with channel creation that I cannot get to the bottom of.

Once these issues are

[2018-01-16 22:52] huyen-pk commented on #45
I got the same error when trying to ping network after properly install .bna

[2018-01-20 11:53] davidkel commented on #48
@JayasreeVenugopal most likely cause is you don't have the right permissions to access the `.composer` directory in your home directory. This can be caused if you start mixing command invocation using sudo and then not using sudo. Our recommendation is to never use sudo when installing and using composer.

[2018-01-24 11:07] dhyey20 opened #61 "Add mount points for ledger data in peer, orderer and couchdb"

[2018-01-24 20:30] tzhang995 commented on #11
This is happening to me. I did everything in the instructions and the output is the same "Composer rest server created successfully" but http://YOUR_PUBLIC_IP_HERE:31090/explorer/ does not work. Is there any idea as to how to fix this?

[2018-01-25 07:28] dhyey20 opened #62 "Need to change peer channel fetch command"
https://github.com/IBM-Blockchain/ibm-container-service/blob/master/cs-offerings/kube-configs/join_channel.yaml.base#L17

While joining the channel, we need to fetch the `config` block instead of `newest` for the join to work after there have been transactions.

[2018-01-25 11:56] #62 closed

[2018-01-27 19:42] booboothefool opened #64 "composer network ping --card admin@tutorial-network Error: Error trying login and get user Context. Error: Error trying to enroll user or load channel configuration. Error: Calling enrollment endpoint failed with error [Error: connect ETIMEDOUT 123.456.78.9:30000] Command failed"
[code]

Did this: https://ibm-blockchain.github.io/setup/
Then this: https://ibm-blockchain.github.io/simple/ (used Option 1)

[code]
 to get the Public IP for example: `123.456.78.9`

[code]
[code]

[code]

[code]

Did this tutorial: https://ibm-blockchain.github.io/develop/tutorials/developer-tutorial
to get `tutorial-network@0.0.1.bna`

[code]

[code]

Up until this point, all commands were com

[2018-01-27 21:38] booboothefool opened #65 "Error: Error trying login and get user Context. Error: Error trying to enroll user or load channel configuration. Error: Enrollment failed with errors [[{"code":400,"message":"Authorization failure"}]] Command failed"
Followed these instructions exactly as described:

1 https://ibm-blockchain.github.io/setup/
2 https://ibm-blockchain.github.io/simple/ (Option 1)

3 https://ibm-blockchain.github.io/interacting/

For Step "3. Develop And Deploy Your Business Network, I made a new business network under Connection: hlfv1 instead of Connection: hlfv1: Web Browser called `admin@biznet`.

[code]

When clicking "Conne

[2018-01-27 21:42] #65 closed

[2018-01-27 21:42] #64 closed

[2018-01-30 03:03] dhyey20 opened #66 "Storage-free has host mount that uses '/tmp'"
- change the host mount path from `/tmp` to something else so that the data persists when the kubernetes-worker node restarts.

[2018-01-30 03:36] #66 closed

[2018-01-30 16:33] letramos commented on #11
Hello, Im also facing same issue. Is there any way to re-open this topic? I run the install script with the instructions provided: create_composer-rest-server.sh --business-network-card INSERT_BIZNET_CARD_NAME
My business network name: basic-sample-network
User: admin
I run the script as: create_composer-rest-server.sh --business-network-card admin@basic-sample-network.
I did not get any error dur

[2018-01-31 15:05] DennisM330 commented on #45
Can you elaborate on update_card.sh. What address do I used within ICP?

[2018-01-31 21:33] DennisM330 commented on #45
I got it to work. Make sure you use the external I/P address of ICP as follows in the composer-card-import.yaml

Also, ahead of time I edited the values.yaml in the ibm-blockchain-composer directory to specify the name of my business network card I knew I was going to deploy in the playground. Need to note this in the ReadMe file

name: K8S_PROFILE
      value: >
        {
          "type": "hlfv1

[2018-02-01 06:09] mrshah-at-ibm commented on #45
Thanks @DennisM330

[2018-02-01 06:09] #45 closed

[2018-02-02 01:17] DennisM330 opened #69 "HELM Charts add support for CouchDB"
Need support for CouchDB to deploy to IBM Cloud Private

[2018-02-02 01:27] DennisM330 opened #70 "Document need to add Composer business card name to values.yam"
The Composer rest server needs a business network card name to start up. Add a note to the Readme that you need to add an entry to the values.yaml file

[2018-02-05 16:05] DennisM330 opened #71 "Errror when creating Channels using HELM charts."
The latest version of the HELM charts appear to have introduced the error, "Error from server (BadRequest): a container name must be specified for pod channel-ibm-blockchain-channel-create, choose one of: [createchanneltx createchannel]". channel-ibm-blockchain-channel-create fails even after repeated attempts after deleting/purging the channel release in between retry attempts.

[2018-02-05 18:21] #71 closed

[2018-02-05 18:24] DennisM330 opened #72 "Card Import Host Names are not resolvable in HELM Charts for ICP"
The following host names cause time-out issues when trying to use in the business network card import. The newest version of the HELM charts from a few days ago are now using "ibm-blockchain-network-orderer, ibm-blockchain-network-ca, ibm-blockchain-network-orgpeer1". These values cause time-out issues and I have to use the external I/P address of IBM Cloud Private to get this to work. Need resolv

[2018-02-05 23:11] umeshsinghkushwaha commented on #65
@booboothefool What was the issue here? Are you able to resolve the same?

[2018-02-07 16:46] rddill-IBM opened #73 "Playground consistently fails (400) when connecting to custom network"
Working with latest code from this site (Feb 7, 2018) and attempting to import a bna created with hyperledger composer v0.16.0 into playground version in this service. Playground will not deploy network unless I provide PeerAdmin cert and private key; however those are created from inside the docker container used to create the PeerAdmin key. Using the cert and key provided in fabric-tools on loca

[2018-02-07 17:49] rddill-IBM commented on #73
I inspected the log file for composer-playground and used the certificate and key used to create PeerAdmin idCard. Using PeerAdmin as userID for network admin and admin@serotoblockchain-network for business network admin.

Still get the same error when playground attempts to deploy.
[code]
The last 20 lines from the log file on deployment from playground are:
[code]

[2018-02-07 19:26] rddill-IBM commented on #73
Have updated to v0.16.2 to ensure bna is generated identical to expectations in composer. Same error occurs. The root cause appears to be that PeerAdmin is not found in the local key store for playground, yet the logs for playground indicate that this id is created and successfully imported during the network deploy phase. Any assistance will be greatly appreciated.
[code]

[2018-02-08 14:33] timroster opened #74 "Channel create fails during chart deployment"
Commit 0a713198 reverts container images to earlier versions in the templates to 1.0.0 . This causes deployment to fail in the channel creation step with an error like:

[code]

Suggested fix: update container image tags across component values.yaml to known best versions.

[2018-02-08 16:15] mrshah-at-ibm commented on #74
We should remove channel creation, channel join, chaincode actions & transactions from helm charts. We should use helm-charts to setup the network only.

We will work on this.

[2018-02-09 15:56] DennisM330 opened #75 "Error connecting to Business Network after suspend and resume"
Deployed hyperledger fabric and hyperledger composer to IBM Cloud Private using HELM charts. Brought up hyperledger composer and deployed and business network and was able to connect to the business network in the playground. Composer REST server was able to successfully connect using the business network card. Then did a vagrant suspend and resume of the environment. Composer REST server still wo

[2018-02-14 21:32] rddill-IBM commented on #73
Any insight into what's causing this issue? Is there anything that I can do to resolve this problem?

[2018-02-15 00:20] mrshah-at-ibm commented on #75
#76 removes the chaincode and composer stuff from the helm-charts. The helm-charts should be used to setup the network and rest should be done by the scripts or manually.

[2018-02-15 00:21] mrshah-at-ibm commented on #74
#76 removes the chaincode and composer stuff from the helm-charts. The helm-charts should be used to setup the network and rest should be done by the scripts or manually.

Closing this.

[2018-02-15 00:21] #74 closed

[2018-02-15 00:23] mrshah-at-ibm commented on #73
It might be because of composer using the old credentials. Did you run `delete_all.sh` script before running setting up the network?

@davidkel any insight on this?

[2018-02-15 11:06] davidkel commented on #73
Playground already has a "PeerAdmin" card to perform deployment of a bna, what the dialog is asking you for is an identity to bind to an initial participant. The easiest solution is to get a fresh certificate from the ca server by selecting the "id and secret" radio button and entering "admin" for the name and "adminpw" for the secret.

[2018-02-15 22:12] rddill-IBM commented on #73
Thank you. the use of the id/secret worked for this deployment.

[2018-02-15 22:12] #73 closed

[2018-02-15 22:17] rddill-IBM opened #78 "monitoring chain events in the kube cluster"
I have a routine on my nodejs server which monitors blockchain events and displays selected information when chain events occur. The code for this routine follows. This code does not work in the kube cluster and I expect that the reason is that the pem file used for admin in the original docker container is no longer valid. Is there are recommended way for me to now connect to hyperledger fabric t

[2018-02-16 18:58] tom342178 opened #79 "The deploy_charts.sh script should only delete blockchain helm releases"
I don't think it is appropriate for an install script to remove helm releases that are not in its scope. Delete a previous instance of the blockchain release, but don't delete anything else.

[2018-02-16 21:55] rddill-IBM opened #80 "Working code in docker dev fails on authentication with kube cluster version"
I have nodejs app supporting a dispute resolution network. The code runs successfully in the local, docker-based dev version, but fails consistently with authentication errors for users. I am running v0.16.2.
The process I'm following (IBM Cloud, Free Kube Cluster) is:
- ./delete_all.sh
- ./create_all.sh
- go to playground, export PeerAdmin card
- ./connection-profile/update_card.sh with valid par

[2018-02-16 22:27] mrshah-at-ibm commented on #80
@davidkel can we get your help here please.

[2018-02-19 16:06] davidkel commented on #80
I am guessing that you get that error message when you invoke the issueIdentity api ? That error comes back from the fabric-ca server when you try to use an identity that isn't recognised by the ca or isn't allowed to issue new identities. The logs in the ca server would provide more detail as to the exact problem I would hope. Also run your application with sdk debug turned on `export DEBUG=compo

[2018-02-19 19:39] rddill-IBM commented on #80
David, When I run my app in the Kubernetes environment, it fails when any user other than admin attempts to connect to the Business Network. All of the participants in the network fail with the
[code]
error sequence. I attempted to resolve this error by adding code to invoke bindIdentity after a successful issueIdentity request. That sequence, shown in the preceding code block, fails with the 'obj

[2018-02-20 08:32] davidkel commented on #80
bindIdentity is not what you need. That error comes from the fabric-ca-server. The logs of the fabric-ca-server might indicate why it is giving an authorisation failure. The error is not too helpful, it could be the result of trying to issue an identity using an identity which is not authorised or it could be that you are trying to enroll a user that has already been enrolled for example (that pro

[2018-02-20 18:20] joel-huang opened #81 "delete_composer-rest-server script tries to find yaml in wrong location"
Line 35 of delete_composer-rest-server.sh reads:
`kubectl delete -f ../kube-configs/composer-rest-server.yaml`
this points to scripts instead of cs-offerings where kube-configs is located

[2018-02-22 12:38] rddill-IBM commented on #80
david, thanks. It turns out that the CA name and Channel Name in the Kubernetes configuration are different from what was used in the docker version. I've updated my install process to automatically extract the correct profile information from the admin card and use that data (specifically the content from connection.json) as my template when creating new users.

[2018-02-22 12:38] #80 closed

[2018-03-07 13:41] rddill-IBM commented on #78
The root cause of the problem for this issue turns out to be a combination of
 (1) Configuration changes between the Docker deploy and the Kubernetes deploy. the changes are:
  - certificate authority name change from ca.example.org to CA
  - channel name change from composer to channel1
 (2) An ongoing issue with hyperledger fabric which prevents the fabric from using the program-defined key stor

[2018-03-07 13:41] #78 closed

[2018-03-16 19:23] mcmack25 commented on #64
@booboothefool where you able to fix this problem when calling the network ping command. I am having the same issue.

[2018-03-17 13:06] inzi119 commented on #11
still the same error, i followed every instruction and it doesn't work.
When I type "kubectl get svc"

[code]

[2018-03-19 21:23] alexvicegrab commented on #74
I have the same issue when doing this manually with the latest network:

[code]

[code]

How can I solve this connectivity issue?

[2018-03-19 21:30] alexvicegrab opened #82 "Issue creating a channel after deploying the network."
After installing the ibm-composer-network, I attempt to login into one of the peers:

[code]

and create a channel:

[code]

I'm using the $ORDERER_URL env, which points to the orderer service and its open port.

This command works fine when working locally with docker-compose examples.

What steps can I take to debug this?

Thank you!

[2018-03-20 10:13] alexvicegrab commented on #82
Solved this issue on my cluster by replacing the NodePort services with ClusterIP.

Either Azure AKS does not support NodePorts by default, or blocks the traffic there. Best solution is to use ClusterIP services and link them all to an Ingress, I think.

[2018-03-26 13:28] prabhatsharma opened #83 "LICENSE File missing"
What license is this repo under? LICENSE needs to be specified somehow before someone can use it and consider it open source... Just releasing the code in a public repo on github does not make the code open source that others can use even for personal non-commercial activities.

[2018-03-26 18:45] dhyey20 commented on #83
A license file has been added. https://github.com/IBM-Blockchain/ibm-container-service/pull/84

[2018-03-26 18:45] #83 closed

[2018-03-29 00:36] mrshah-at-ibm commented on #74
@alexvicegrab can you check if the name of the service for the Orderer is `ibm-blockchain-network-orderer` ?

[2018-03-29 00:38] mrshah-at-ibm commented on #82
NodePort service should also create a ClusterIP address. Not sure why it didn't work. Glad it worked for you. Thanks for the update.

[2018-03-29 00:38] #82 closed

[2018-04-12 14:59] lesleyannjordan commented on #48
@JayasreeVenugopal please reopen if this is still an issue after help given.

[2018-04-12 14:59] #48 closed

[2018-04-16 03:35] LordGoodman opened #85 "Support multiple workers deployment"
We are using the HostPath type of  Persistent Volume, which is not support multiple worker nodes deployment, any plan to replace the PV type?

[2018-04-16 05:53] mrshah-at-ibm commented on #85
We do support the non-hostpath types. Ref: https://github.com/IBM-Blockchain/ibm-container-service/blob/master/cs-offerings/kube-configs/storage-paid.yaml

[2018-04-16 06:04] LordGoodman commented on #85
Is this solution only against the IBM cloud?

[2018-04-16 11:07] mrshah-at-ibm commented on #85
This solution is for the IBM Cloud. Feel free to edit it to suit your needs.

[2018-04-17 03:46] psrkiran opened #86 "How to enable TLS in paid setup"
I am trying to enable TLS by flipping flags and setting CORE_PEER_TLS_SERVERHOSTOVERRIDE in every peer, still I am not able to instantiate chaincode, when I looked up in peer logs it says "userChaincodeStreamGetter -> ERRO 001 Error trying to connect to local peer: x509: certificate signed by unknown authority"

[2018-04-17 08:16] EmanHerawy commented on #81
I fixed this bug by replacing .`./kube-configs/` with `${KUBECONFIG_FOLDER}`

[2018-04-17 12:32] mrshah-at-ibm commented on #86
`"userChaincodeStreamGetter -> ERRO 001 Error trying to connect to local peer: x509: certificate signed by unknown authority"` is this coming from the chaincode container? Looks like the chaincode container is not liking the certificate from the peer?

[2018-04-17 15:56] lesleyannjordan commented on #81
Looks like lines 34 and 35 require updating to use ${KUBECONFIG_FOLDER} rather than the direct directory referencing.

[2018-04-18 10:48] mrshah-at-ibm commented on #81
Fixed by https://github.com/IBM-Blockchain/ibm-container-service/pull/87

[2018-04-18 10:48] #81 closed

[2018-04-24 09:29] erikvaningen commented on #65
I also would be very interested in this problem, got exactly the same.

[2018-04-30 12:13] erikvaningen opened #88 "should have required property 'x-type'"
`./update_card.sh`
works fine and generates an updated card and the original.

The command
`composer card import -f admin.card`
goes wrong with this message:
**_Failed to import the business network card
message: should have required property 'x-type'_**

I am using:
- composer --version v0.19.2
- nvm --version 0.33.2
- nodejs --version v8.11.1

What could be the cause of this problem?

[2018-05-02 04:13] KeanuTomatoMomotaro commented on #88
Correct me if I'm wrong, but I think the scripts [provided here](https://ibm-blockchain.github.io/) would install a version 0.16.2 composer playground with fabric 1.0.3. [A 0.16 card cannot be imported to a version 0.19 cli](https://github.com/hyperledger/composer/releases). If that is the case, try uninstalling the composer cli and reinstall the 0.16 version  `npm install -g composer-cli@0.16.6`.

[2018-05-02 04:36] KeanuTomatoMomotaro opened #89 "Update cs-offerings scripts to allow composer version 0.19"
Are there plans to upgrade the scripts and configuration within the `cs-offerings` folder to allow deployment of composer 0.19?

<img width="1437" alt="screen shot 2018-04-30 at 09 39 59" src="https://user-images.githubusercontent.com/23183047/39505454-8e04d0f4-4dfc-11e8-8545-520a45b79418.png">

I successfully deployed composer playground to 0.19.2 by changing some of the configurations for the do

[2018-05-02 06:57] lesleyannjordan commented on #88
@erikvaningen please indicate the scripts or tutorial you are following and which version of fabric you are running on top of please.

[2018-05-03 11:55] erikvaningen commented on #88
My Playground is v0.16.2. I tried to uninstall composer-cli, it did not work well.

I believe the
https://ibm-blockchain.github.io/setup/
should indicate to install also the composer-cli v0.16.6 because now it would install the latest version ( v0.19.2).

For now I am giving up on this route and will follow
https://github.com/IBM/hyperledger-fabric-on-linux-one

But thanks for this clarification,

[2018-05-05 16:44] jonglee commented on #11
Is there a solution for this?  I have a similar problem that can't reach the rest server

"This site can’t be reached"

[2018-05-05 17:00] jonglee commented on #11
Never mind.  Figured it out.

1) make sure to use "hlfv1" not Web Browser option.
2) do this:  ./create/create_composer-rest-server.sh --business-network-card admin@animaltracking-network

where originally I did not have "admin@" in the argument.

[2018-05-08 12:50] erikvaningen opened #90 "composer card import - Cannot find module node-v57-linux-x64"
While running this command
` composer card import -f admin.card`
I am running into this problem

I was assuming that the problem is on GRPC level, therefore found that composer v0.16.6 needs:
`"grpc": ">=1.3.5 <1.7.0",`

But I do not understand composer, they seem to have different versions?
$npm view composer-cli version
0.19.4
$composer --version
v0.16.6

Aren't composer and composer-cli the sam

[2018-05-08 13:02] vmorris commented on #90
Probably because you have one installed globally and one that is not.

[2018-05-10 12:09] #85 closed

[2018-05-10 12:10] #75 closed

[2018-05-15 05:42] Akash76 opened #91 "fabric-ca request register failed with errors"
![screenshot from 2018-05-15 11-09-49](https://user-images.githubusercontent.com/29705984/40038591-9abdc7b8-5830-11e8-82a5-6d5416ff94ca.png)
I am trying to create participant cards in playground...But it is saying error and message is authorization failure...please help me resolving this

[2018-05-29 19:07] ezmoneySniper opened #92 "trying to enable authentication for the REST server"
How and where do i config the REST API server? I have tried running the following command  but it does seem to work. My goal is to have the Wallet option appear in my API page.

export COMPOSER_PROVIDERS='{
  "github": {
    "provider": "github",
    "module": "passport-github",
    "clientID": "REPLACE_WITH_CLIENT_ID",
    "clientSecret": "REPLACE_WITH_CLIENT_SECRET",
    "authPath": "/auth/githu

[2018-05-29 19:13] vmorris commented on #92
Probably you meant to open this against https://github.com/hyperledger/composer

[2018-05-29 19:26] ezmoneySniper commented on #92
i have been following this document https://ibm-blockchain.github.io/setup/ and have everything working. I just like to know how to config the REST api server so that i can enable Oauth.

[2018-05-29 19:34] vmorris commented on #92
try this https://hyperledger.github.io/composer/unstable/integrating/enabling-multiuser.html

[2018-05-29 19:41] ezmoneySniper commented on #92
so right now i created the api server using
` cd cs-offerings/scripts/
 ./create/create_composer-rest-server.sh --business-network-card INSERT_BIZCARD_NAME`
so composer-rest-server is not an command that i can execute at this point.

Are you suggesting that i should create a new RESET server

[2018-05-30 12:51] #92 closed

[2018-05-30 16:44] lesleyannjordan commented on #90
Please uninstall composer-cli and re-install required version.

npm install -g composer-cli@0.19.x

check versions:
composer -v and npm version match

[2018-05-30 16:46] lesleyannjordan commented on #91
@Akash76 please confirm version of composer your are using and steps executed.

[2018-06-04 21:11] DazWilkin opened #93 "Deploying Helm Chart to [Google] Kubernetes Engine"
Folks --

Thanks for all the work on this excellent Helm chart to deploy Fabric to Kubernetes.

I was given a link to your site and have been able to provision a Fabric cluster on [Kubernetes Engine](cloud.google.com/kubernetes-engine).

However, the Helm chart deploys only Fabric while this site's documentation references the companion Composer integration.

I would value some pointers on how to

[2018-06-05 01:44] DazWilkin commented on #93
Here's my fork-not-fork of your repo to tweak the Helm Chart:
https://github.com/DazWilkin/ibm-blockchain-network

Blogged about it too:
https://medium.com/google-cloud/fabric-on-google-cloud-platform-97525323457c

[2018-06-05 12:18] mrshah-at-ibm commented on #93
thanks @DazWilkin.. would you be interested in making a PR to the repository?

Also, we did have the chaincode install/instantiate etc. as part of the helm chart, but it gets difficult to wait until all the components are running before running the install/instantiate. So we had to remove it and only use the helm chart to bring up the network.

[2018-06-05 15:33] DazWilkin commented on #93
Thanks for the prompt and helpful reply @mrshah-at-ibm and thanks for building this Chart!

Yes, I'd be happy to submit a PR.

IBM Container Service appears to include a ReadWriteMany storage class but Kubernetes Engine currently does not. I will check with Kubernetes Engineering on their recommendation. I've used an NFS Service on Kubernetes backed by Google's SSD Persistent Disk and this works w

[2018-06-05 20:52] DazWilkin opened #94 "`create_channel.sh` tried to replace non-existent %PEER_MSPID% references"
https://github.com/IBM-Blockchain/ibm-container-service/blob/ff63248a583c4e548181d347d02fe3fe63b644ee/cs-offerings/scripts/create/create_channel.sh#L32

Script attempts to replace non-existent references to `%PEER_MSPID%` in `${KUBECONFIG_FOLDER}/create_channel.yaml.base`.

Recommend:
-- Remove redundant sed expression
-- Consider replacing `-e` with `--expression=` for additional clarity

[code]

[2018-06-06 13:48] mrshah-at-ibm commented on #93
@DazWilkin thanks for willing to submit a PR.

You might now want to us `/tmp` as it will be removed on the container restart. A lot of users complained about it and hence we moved it to `/compose`. You might want to use `$HOME` folder instead.

[2018-06-06 16:06] DazWilkin opened #95 "nit: Helm Chart uses "ibm-blockchain-*-pvc" for both PV (and PVC)"
Recommend:
- Either map names correctly to types
- Or (my preference) generalize the names (removing the K8s type) perhaps:
  - "shared" or "shared-volume"
  - "composer" or "composer-volume"

For both Shared and Composer (although Composer is removed from Chart):

https://github.com/IBM-Blockchain/ibm-container-service/blob/ff63248a583c4e548181d347d02fe3fe63b644ee/helm-charts/ibm-blockchain-netwo

[2018-06-06 18:30] DazWilkin opened #96 "Helm Chart inconsistent naming results in Services not binding to Pods"
Helm Chart inconsistently uses ibm-blockchain-network.name and ibm-blockchain-network.fullname

E.g.
CA Service selects on `name` ==  `-network.name` and `app` == `-network.name`
https://github.com/IBM-Blockchain/ibm-container-service/blob/ff63248a583c4e548181d347d02fe3fe63b644ee/helm-charts/ibm-blockchain-network/templates/blockchain-ca-service.yaml#L15

But CA Deployment `name` == `-network.full

[2018-06-06 19:44] DazWilkin opened #97 "[Trying to] reverse engineer Helm Chart + Scripts: Join Channel problems"
Feel free to discourage this or provide a better path ;-)

The Helm Chart works well and I can readily deploy a Fabric platform.

I'm now trying to manually work through the scripts to understand them and to work out how to deploy this to Kubernetes Engine.

[code]
If I list `/shared`:
[code]

Then manually (at present):
[code]
If I list `/shared`:
[code]
Then manually (at present):
[code]
The `fe

[2018-06-06 19:51] vmorris commented on #97
I'm missing where you actually created the channel.

[2018-06-06 20:42] DazWilkin commented on #97
Thanks for the comment!

In the step that applies `kube-configs/create-channel.yaml`, two containers are created.

The first does:
[code]
The second does:
[code]
These both succeed.

[2018-06-06 21:12] DazWilkin opened #98 "Error: Failed to save card: PeerAdmin@hlfv1"
In full disclosure, I've not used Composer previously and was hoping that, by following through these scripts, it would work without issue. It doesn't.

I'm having issues getting the Peers to join the Channel (https://github.com/IBM-Blockchain/ibm-container-service/issues/97) so it's entirely possible that this subsequent step won't work until that issue is addressed. However, it doesn't appear im

[2018-06-06 22:37] vmorris commented on #98
Not having the peer joined to the channel wouldn't cause the card to fail to import.
I don't think it would cause that error, but can you try with `-u admin` in the card create?
Also, what version of composer are you using?

[2018-06-06 22:41] vmorris commented on #98
I'm also not seeing what version of Fabric you're using. If it's v1.1.0, you're connection profile's got to be a bit more substantial: https://hyperledger.github.io/composer/latest/reference/connectionprofile

[2018-06-06 22:45] vmorris commented on #97
Can you check your peer's logs?

`Error: Error getting endorser client channel: PER:404 - Error trying to connect to local peer` .. at this point, the environment variable is still configured for the `PEER_ADDRESS="ibm-blockchain-network-org1peer1:30110"` ? I think you'll likely want to export those environment variables.

[2018-06-06 23:01] DazWilkin commented on #98
Thanks!

I'm using the Helm Chart from this repo and it uses:
[code]
and it includes:
[code]
The Deployment is created from this file which is simpler than the one you reference. I'll try create something more complete:
https://github.com/IBM-Blockchain/ibm-container-service/blob/master/cs-offerings/kube-configs/composer-card-import.yaml

[2018-06-06 23:09] DazWilkin commented on #98
IIUC, I tried using `-u admin`:
[code]

[2018-06-06 23:39] DazWilkin commented on #97
The only (!) differences between the two Peers' environments are that

* the problematic (!?) `org1peer1` has no `CORE_PEER_ID` whereas the working (!?) `org2peer1` has this set to `org2peer` !?
* `org1peer1` also has `CORE_LOGGING_MSP` at `INFO` whereas `org2peer` has it at `DEBUG`.
[code]
and
[code]

[2018-06-07 13:13] vmorris commented on #98
Hmm, you wouldn't want to try the more complicated profile for a fabric 1.0.0 network, but you could get a newer version of composer (stay on the 0.16.x level). Last I checked, it was 0.16.6.

[2018-06-13 00:15] DazWilkin commented on #97
There were a couple of issues here that I think I've mostly survived:

1. The Helm Chart uses different port than the scripts, e.g. `5010`|`5011` vs `7050`|`7051`
1. The Helm Chart templates reference use container not service ports e.g. `blockchain-utils`
1. For some reason (can't explain) the Services must use external ports across the board

e.g.
[code]
Should be correct but it doesn't work unl

[2018-06-13 00:15] #97 closed

[2018-06-13 00:26] DazWilkin opened #99 "Somewhere (!) there's a hard-binding to 'blockchain-orderer:31010`"
...and it's been driving me NUTS! :-)

The Helm Chart produces nicely-named resources of the form `ibm-blockchain-network-X`

However, deploying the Helm Chart as-is throws recurring (red-herring?) errors of the form:
[code]
I assumed (incorrectly) that I'd missed a `name` value somewhere in the templates but after extensively reviewing deployments created by the Helm Chart (both the templates and

[2018-06-13 13:49] DazWilkin commented on #99
@mrshah-at-ibm -- There's no need to apologize but it's appreciated! You folks got me much further along than I would have been had I started from scratch. My feedback is intended to help others that use your repo to avoid similar pitfalls.

I'm still stuck getting Composer working on the back of the Helm Chart (https://github.com/IBM-Blockchain/ibm-container-service/issues/98) but, if I use the s

[2018-06-14 22:43] DazWilkin commented on #98
Solved!

I mixed up volume mounts between:

Helm Chart's `blockchain-utils` yaml's   `mountPath: /home/composer/`

and

`composer-card-import` script's `mountPath: /home/composer/.composer`

[2018-06-14 22:43] #98 closed

[2018-06-17 15:01] lvndry opened #101 "Obsolete Scripts"
Scripts creating composer playground, composer-rest-server and others needs to be updated in order to be  in sync with tools upgrades

[2018-06-21 12:56] mrshah-at-ibm commented on #101
@lvndry I see you have made a PR to fix it. Thank you.

[2018-06-21 23:45] #101 closed

[2018-07-02 12:11] rddill-IBM opened #104 "org1peer1, org2peer1 show "waiting for bootstrap""
Am attempting to use the latest version of your wonderful code to set up a fabric for composer on a paid IBM cluster. After upgrading this morning to the latest master, cannot join channel fails and org1peer1 and org2 peer1 both show 'waiting for bootstrap' as the only entry in the log files.

[2018-07-02 12:32] rddill-IBM commented on #104
Note, after a little testing, this error only occurs if I use the --paid option on the create_all.sh script.

This always fails: ```./create_all.sh --with-couchdb --paid```

While this appears to work: ```./create_all.sh --with-couchdb ```

[2018-07-02 14:56] rddill-IBM commented on #104
closing this one. I had not added the --include-volumes option on delete-all and old persistent storage was messing up the start process.

[2018-07-02 14:56] #104 closed

[2018-07-02 15:21] rddill-IBM opened #105 "joinchannel fails when using --paid option"
this appears to be a similar issue to the other joinchannel issue in that joinchannel is failing and org1peer1 is showing that it cannot attach to couchdb1. I note that in the 'free' yaml file, you have the following options stated:
[code]
where in the 'paid' yaml file, targetPort is missing and port now holds the same value as targetPort from the 'free' version, rather than matching the value of

[2018-07-03 11:35] rddill-IBM commented on #105
I updated the blockchain-couchdb-services-paid.yml file so that the TCP sections in it were identical to the TCP sections in the blockchain-couchdb-services-free.yml file and the install appears to now work. in that all services are starting. Will test with code later. Adding a pull request with the blockchain-couchdb-services-paid.yml file updated.

[2018-07-03 11:35] #105 closed

[2018-07-03 18:15] mrshah-at-ibm commented on #91
@Akash76 any updates? if you resolved it, can I close this issue?

[2018-07-03 18:16] mrshah-at-ibm commented on #90
Closing due to inactivity. Feel free to reopen the issue if you are still seeing this issue

[2018-07-03 18:16] #90 closed

[2018-07-03 18:17] mrshah-at-ibm commented on #35
There are PVCs now under _paid_ to use IBM Container Service's paid NFS storage. It can be edited to use any NFS storage.

Closing this.

[2018-07-03 18:17] #35 closed

[2018-07-03 18:18] mrshah-at-ibm commented on #49
We just produced a release for 1.0 fabric. We will do the same for 1.1

[2018-07-03 18:18] #49 closed

[2018-07-03 18:19] dhyey20 commented on #58
https://github.com/IBM-Blockchain/ibm-container-service/pull/106 should take care of this problem.

[2018-07-03 18:19] #58 closed

[2018-07-03 18:19] mrshah-at-ibm commented on #60
We have decided not to pursue this for now. We will get back to this if required.

[2018-07-10 09:16] nick218 opened #107 "joinchannel fails during completion (paid) with couchdb"
Using the script for setting up a paid cluster with couchdb, the installation get stuck with the message

"Waiting for joinchannel container to be Completed"

the paid cluster without couchdb and the free cluster with couchdb works. Any ideas, where the problem is?

[2018-07-12 03:45] donbr commented on #107
Thanks Nick for your post.  Interesting that you were able to get the free cluster with couchdb to work - I got a similar joinchannel error when attempting to install the free cluster with couchdb.

The most reliable fix I came up with was checking out tag 1.0 after doing the initial clone.  This is at best a short term fix as it installs Fabric v1.0 instead of v1.1, but at least the install finis

[2018-07-12 08:03] xapundel commented on #107
The same issue. In the peer log I see following:
[code]

[2018-07-12 15:00] dhyey20 commented on #107
The problem is most probably with the couchdb service. `kubectl get svc` will help. Check if the public IP is allocated to the couchdb service or is it in pending state?

[2018-07-14 17:25] rischioto opened #108 "create_all fails during the composer playground card import"
create_all fails during the composer playground card import.
**composer-card-import** logs shows:
[code]

Looks that the JSON struct of ibm-container-service/cs-offerings/kube-configs/composer-card-import.yaml are wrong.
The CA Session shows:
[code]
and should be:

[code]

[2018-07-14 20:43] rischioto opened #110 "Card Import Host Names looks wrong"
The Host Names (URL)  in the composer-card-import.yaml looks to be wrong:

[code]

I believe that this URL should be point to the host names defined in the blockchain service file such as:

[code]

[2018-07-15 21:20] mastreips commented on #5
https://github.com/IBM-Blockchain/marbles/issues/221 - don't run enrollAdmin.js and registerUser.js before running install and instantiate on chaincode. Run the gulp marbles-local command and it should work. You may have to teardown the network and make sure the certs/keys are removed from the hcf-key-store

[2018-07-16 19:33] pvrbharg commented on #108
The fix provided by @rischioto worked for me as well as my customer that I am currently engaged with on their Azure cloud instance. FYI and thank you @rischioto.

[2018-07-18 04:38] iwinoto opened #111 "What is the `pulse` container for?"
In `kube-configs/blockchain.yaml` the pod spec for Deployment named `blockchain-orderer` has a container named `pulse`. The container executes the following script (lines added for readability):
[code]
What is this for?

[2018-07-18 12:00] mrshah-at-ibm commented on #111
The pulse container is sending a heart beat so someone it can be known how many instances are running.

[2018-07-18 20:31] #111 closed

[2018-07-23 19:17] amontero0611 opened #112 "joinchannel fails during installation initiated by ./create_all.sh --with-couchdb script"
The issue has exactly the same symptoms than those reported at #23, but the correction actions stated at #24 do NOT solve the issue this time, as long as these corrections are already applied.
The blockchain deployment process get stuck at the step "**Waiting for joinchannel container to be Completed**". The very same message is returned once and again, endlessly.

Anybody please help?
Thanks in a

[2018-07-23 20:32] amontero0611 commented on #107
Probably I will ask a stupid question but this is what kubectl get svc returns:
kubectl get svc
NAME                   TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)                           AGE
blockchain-ca          NodePort    172.21.198.1     <none>        30054:30054/TCP                   1h
blockchain-couchdb1    NodePort    172.21.169.117   <none>        30984:30984/TCP

[2018-07-23 20:59] dhyey20 commented on #107
If you are using paid scripts, the services are created using this [file](https://github.com/IBM-Blockchain/ibm-container-service/blob/master/cs-offerings/kube-configs/blockchain-couchdb-services-paid.yaml). As the type of service there is loadbalancer, you will get an external-IP for each service in the list. The fact that the external-IP is none means something is wrong.

[2018-07-24 07:08] amontero0611 commented on #107
Thank you @dhyey20 . I am not using paid scripts, just following the instructions [here](https://ibm-blockchain.github.io/setup/). This procedure worked fine with the previous version. As I urgently need a hyperledger for prototyping, I've installed the old version as @donbr said and it just works fine.
I wonder if someone succeeded installing the new version with the published scripts.

[2018-07-25 14:46] bryq3 commented on #107
I have the same issue, going through instructions like @amontero0611 . Did anyone find a solution for this problem?

[2018-07-25 15:17] mrshah-at-ibm commented on #107
@amontero0611 we have not got a chance to look at this issue yet. If you need a hyperledger-fabric urgently, feel free to get one [here](http://bluemix.net/catalog/services/blockchain)

[2018-07-25 15:35] amontero0611 commented on #107
Thank you very much.
As I mentioned previously in this thread, I followed what @donbr said and
managed to deploy a blockchain previous version. That one works fine.

Salvo indicado de otro modo más arriba / Unless stated otherwise above:
International Business Machines, S.A.
Santa Hortensia, 26-28, 28002 Madrid
Registro Mercantil de Madrid; Folio 1; Tomo 1525; Hoja M-28146
CIF A28-010791

[2018-07-25 18:12] bryq3 commented on #107
@amontero0611 could you tell me in few steps how did you managed to do it with previous version? when i put in console:

git clone https://github.com/IBM-Blockchain/ibm-container-service
git checkout tags/1.0

i only get error message. Could you give me some hints how to get ibm-container-sevice v.1.0? I would be very thankful

[2018-07-25 19:04] rddill-IBM commented on #107
I had to update the configs for the paid cluster to get it to deploy correctly. The changes were merged in recently and update this file: ```cs-offerings/kube-configs/blockchain-couchdb-services-paid.yaml```

[2018-07-29 15:29] timroster commented on #110
Agree - and because the `connection.json` created with these values is used in the composer card import, this is causing the chaincode instantiation pod to fail. Updating to the values you suggested:

[code]
I am now seeing the `create_all.sh` script run through to completion including successful exit of the chaincodeinstantiate pod.

[2018-07-30 14:01] lesleyannjordan commented on #108
See ticket #110 for full set of changes required.  Impleted under PR #114

[2018-08-07 09:17] bryq3 commented on #107
Any updates for scripts v1.1?

[2018-08-07 10:54] bryq3 opened #115 "composer-card-import fails during installation initiated by ./create_all.sh --with-couchdb script"
The blockchain deployment process get stuck at the step "Waiting for composer-card-import container to be Completed" when using the latest scripts. The very same message is returned once and again, endlessly.

Anybody please help?
Thanks in advance.

[2018-08-12 04:28] erickzzh opened #116 "Failed to list VLANs on your account. json: cannot unmarshal number into Go struct field Error.code of type string"
<img width="720" alt="screen shot 2018-08-12 at 12 23 44 am" src="https://user-images.githubusercontent.com/17330425/43998556-0ff543aa-9dc6-11e8-99da-09fae7c76688.png">

I was following this step to expose some of my services

after executing command
bx sl vlan list | grep PUBLIC | grep dal12

I receive the error:
Failed to list VLANs on your account.
json: cannot unmarshal number into Go struct f

[2018-08-12 04:30] erickzzh commented on #116
when I first created the cluster I left the Public Vlan and Private Vlan blank, but they should still be generated for me automatically

[2018-08-13 02:44] mrshah-at-work commented on #116
Can you please try and run `bx sl vlan list` command?

[2018-08-13 13:38] erickzzh commented on #116
@mrshah-at-ibm its the same error message

Failed to list VLANs on your account.
json: cannot unmarshal number into Go struct field Error.code of type string

[2018-08-14 13:59] rthatcher commented on #115
I have just tried this and I see "Waiting for composer-card-import container to be Completed" about 30 times, then it completes OK.

Are you still seeing the problem?  It looks like issues #108 and #110 have had the same problem but I think it has been resolved with a new .yaml file.

I would suggest deleting the `ibm-container-service` folder and cloning the latest versions of the scripts and yam

[2018-08-17 08:04] bryq3 commented on #115
Hi, i followed your advice, but without positive result. The same situation - message "Waiting for composer-card-import container to be Completed" is printed constantly. I was waiting but there was no result.

[2018-08-17 09:42] David-Kim-TPE commented on #91
![image](https://user-images.githubusercontent.com/10493277/44259675-cfa56900-a244-11e8-856b-91a4eb23a7ca.png)

Any suggestions?

I met this while I'm issuing identities using the rest api.

[2018-08-17 10:33] rthatcher commented on #115
Are you using "free" or "paid" option with the scripts?

Can you check your file:

`ibm-container-service/cs-offerings/kube-configs/composer-card-import.yaml`

and see if it contains these lines:
[code]

[2018-08-17 10:49] bryq3 commented on #115
I'm using free option of scripts (at least i think so). I checked and i have those lines mentioned above, in composer-card-import.yaml

[2018-08-22 10:00] rthatcher commented on #115
This is odd, that you have the same Scripts, and are using the same procedure steps as me.  I assume that you are working with IBM Cloud, not some other Kubernetes Container service?

I'm running my Blockchain Cluster on the UK Data centre - where are you running yours? - perhaps you could use a different Data Centre as a test?  (This is the command that determines the data centre used `bx api api

[2018-08-22 14:47] bryq3 commented on #115
I deleted previous cluster (location US - south), created new (location UK) and did everything from the scratch. I don't know now if it was because the cluster data centre, but now it's working! Thank you @rthatcher for your help, i wouldn't manage to fix it without you!

[2018-08-22 14:47] #115 closed, assigned to nobody

[2018-08-23 10:23] davidkel commented on #91
For these types of errors you need to look at the fabric-ca logs to see what is going on. For example are you using the wrong certificate than the one registered for that user name when trying to issue an identity ? Have you reached enrollment limit (composer enforces that all it's identities registered with the ca server can only be enrolled once).
Also if you have restarted your ca server then I

[2018-08-23 16:32] jpdias92 commented on #91
Hi everyone,

I'm facing exactly the same problem, trying to issue new identities using the admin card, either on playground, CLI or REST, always returns that Authorization failure.

I've already tried countless variations of deleting the cards, deleting the .composer directory, starting and restaring the network while removing and reimporting the admin card...

Other than issuing identities, I ca

[2018-08-23 16:42] davidkel commented on #91
@jpdias92 In your specific case these lines are important
[code]
The first line says you are trying to register an identity with a name of 'emel'. The next line says that the identity you used to request this was not known to the CA server. This is probably because you have restarted the CA server but tried to use an issuer identity (probably admin) you had got previously and it is not recognised

[2018-08-23 17:13] jpdias92 commented on #91
@davidkel Thanks for you quick reply.

Maybe there is some problem on the network setup script that I'm using...

These are the steps that I'm following (on a bash script) each time I start the business network:

[code]

Per my understanding, when I start fabric, a new CA container comes up but I only create and import the admin card after the CA container is up. I even remove the old admin card b

[2018-08-23 18:08] davidkel commented on #91
@jpdias92 If they are always the same then the question is how you are trying to register a new user on the CA Server, are you using the right identity ?

[2018-08-24 16:42] jpdias92 commented on #91
@davidkel Besides trying when I'm connected as admin to the business network on Composer playground, I also tried via CLI with the following command:

`composer identity issue -c admin@acme -f emel.card -u emel -a resource:org.acme.Institution#9204`

It always returns the same authorization error...

I followed again the dev tutorial to create a new network and on that one I was able to issue iden

[2018-08-25 06:55] davidkel commented on #91
Ok so based on the fact that you are trying to use admin@acme to issue the identity and the fact the information about the identity being used on the CA Server never changes means that although you think you are using a new admin enrolled when you start the network, you actually aren't.
Looking at your script the problem is this step
[code]
This is not a good way to remove a card (because in fact

[2018-08-27 10:00] jpdias92 commented on #91
@davidkel
Really well spotted, the problem was exactly that! Now I'm deleting the card at the beginning of the script using `composer card delete -c admin@acme` and everything works as it should.

Thanks a lot for your help and your time.

[2018-08-28 06:44] bryq3 commented on #92
@ezmoneySniper did you manage to enable multiuser mode for rest server on cluster? If yes how did you do this? Could you please give me some hints?

[2018-09-03 10:59] gitjps opened #117 "Unable to reach the REST server: ERR_CONNECTION_REFUSED"
I followed the instructions on https://ibm-blockchain.github.io/interacting/.

bx cs workers blockchain : lists Card  PeerAdmin@hlfv1

businessNetworkName is empty
[code]

Created 2nd card:
[code]

Pinging the 1st card:
[code]

Pinging the 2nd card:
[code]

bx cs workers blockchain : lists Card PeerAdmin@hlfv1 only

composer card list: only PeerAdmin@hlfv1

http://159.122.179.121:31090/explorer/:

[2018-09-04 06:18] davidkel commented on #117
In the step
[code]
The business network card name should be
`admin@perishable-network`

So the command looks like
[code]
You need to delete the rest server pod first by doing
[code]
and recreate the rest server

[2018-09-04 10:18] gitjps commented on #117
thx, running ok now

[2018-09-04 19:06] #117 closed, assigned to nobody

[2018-09-04 19:23] gitjps opened #118 "Error trying to ping. No business network has been specified for this connection"
Followed [your instructions](https://github.com/IBM-Blockchain/ibm-container-service/issues/117), I now can access the Rest service.

Occasionally I get an error when opening the Playground:

**Error trying to ping. No business network has been specified for this connection**

I can then click on PeerAdmin | My Business Networks and reach the Playground regardless
These are the 2 cards I can see:

[2018-09-05 11:42] nicolas-zozol commented on #64
I have the exact same problem. I am able to import the card, but not to ping

[code]

However if I add the version of the .bna, I have a response of another version, but I don't know its context

[code]

When I type `docker ps`, I do have my runtime

[code]

[2018-09-05 21:39] davidkel commented on #118
Not sure why you get that error occasionally. The cards you see in playground are the ones I would expect to see. Not sure where you performed the composer card list but that isn't showing the contents of the card store used by playground or the rest server. Their card store is in shared storage and are set up to use the same card store, so what you see in playground will be the contents of that c

[2018-09-06 09:12] gitjps commented on #118
My fault. I missed something in the installation, thx

[2018-09-06 09:12] #118 closed, assigned to nobody

[2018-09-08 16:53] akashchekka commented on #91
I resolved issue by deleting peerAdminCard and networkAdmin card after stopping the network. Next time when i started the network with new peerAdminCard and NetworkAdmin card, i am able to create cards for the participants

[2018-09-08 16:54] #91 closed

[2018-09-28 16:33] odrodrig opened #119 "Error deploying/starting business network on Composer Playground"
I followed [this guide](https://ibm-blockchain.github.io/) to deploy a HLFV1.1 network with composer on IBM Kubernetes Service but am getting the following error when trying to deploy a network:

<img width="1676" alt="image" src="https://user-images.githubusercontent.com/12896721/46221035-90713a00-c311-11e8-9f91-8087b12673c2.png">

**Steps to reproduce**:
1. Follow guide at https://ibm-blockchain

[2018-10-08 09:16] sstone1 opened #120 "Remove Composer from all scripts"
Composer and Fabric Node.js chaincode no longer works with the latest versions of the IBM Container Service due to the upgrade to the latest versions of Kubernetes:
- New Docker chaincode containers are isolated from the internet, which stops them from running `npm install` successfully.
- The latest version of Kubernetes switched from Docker to containerd which stops Fabric from being able to dep

[2018-10-08 10:25] #120 closed, assigned to sstone1

[2018-10-08 11:28] davidkel commented on #119
@odrodrig @timroster This is due to changes in the way IBM K8s handles creation of new containers now. Because of this change it no longer possible to run node.js chaincode in this environment.
As a result support for Composer has been removed and the scripts updated to reflect this.

[2018-10-08 14:56] #119 closed, assigned to nobody

[2018-10-08 14:57] sstone1 commented on #110
Looks resolved; if not, Composer support has been removed anyway.

[2018-10-08 14:57] sstone1 commented on #108
Looks resolved; if not, Composer support has been removed anyway.

[2018-10-08 14:57] #108 closed

[2018-10-08 14:58] sstone1 commented on #89
Composer support has been removed from these scripts.

[2018-10-08 14:58] #89 closed

[2018-10-08 14:59] sstone1 commented on #88
Looks resolved; if not, Composer support has been removed anyway.

[2018-10-08 14:59] #88 closed

[2018-10-08 14:59] sstone1 commented on #70
Looks resolved; if not, Composer support has been removed anyway.

[2018-10-08 14:59] #70 closed

[2018-10-08 22:18] hixichen opened #122 "Change the mount without root permission"
In templates/blockchain-utils.yaml file:

  - name: dockersocket
    hostPath:
      path: /var/run/docker.sock

It required the pod has root permission.
In case of pod does not has root permission, deployment will fail.

Error: release network failed: pods "network-ibm-blockchain-network-utils" is forbidden: AdmissionController validation failed: [spec.volumes[1].hostPath.pathPrefix: Invalid valu

[2018-10-24 17:13] sstone1 commented on #72
All the Composer scripts have been removed; closing.

[2018-10-24 17:13] #72 closed

[2019-04-08 15:23] shiyunlai opened #123 "Upgrade Fabric-ca 1.0.2 to 1.4.0 via docker image, restart fabric-ca-server, when register, and then error!"
Upgrade Fabric-ca from 1.0.2 to 1.4.0, restart fabric-ca docker container with old config and cert & private key, then exec fabric-ca-client register like this:

$ fabric-ca-clien register --id.name test --id.type user --id.affiliation  org1.department1 --id.attrs 'hf.Revoker=true,foo=bar'

and error message is (in docker container logs file):

99.xx.xx.xx:port  POST /api/v1/identities 401 26 “Unt

[2019-04-09 11:34] mrshah-at-work commented on #123
We do not support this repository any more as it has been moved to Archives. Thank you for your interest. Please check out IBM Blockchain V2 at https://cloud.ibm.com/catalog/services/blockchain

[2019-04-09 11:34] #123 closed, assigned to nobody

[2019-04-09 11:53] shiyunlai commented on #123
@mrshah-at-ibm 3Q!

The above problem has been solved.
Before, the ca-chain.pem lacks the certificate information of the root ca. Use the correct ca-chain.pem.

[2019-05-13 08:35] ghost commented on #91
@Akash76  Can you tell me that how to delete peerAdminCard and networkAdmin card after stopping the network? I have this issue when I register a new user by sdk for go.

[2020-02-05 21:11] FatfoutiAsma commented on #91
Hi, i have facing the same problem few minutes ago with hyperledger composer when trying to issue identity to my participant. In fact, i won't to restart the work from beginning (i mean deleting the admin card and then creating another one), so i just create a new participant and then things work fine when issuing the identity to it.

[2021-06-28 12:57] prakash204 commented on #91
Failed to register the username NpPharma for organization Manufacturer with::fabric-ca request register failed with errors [[ { code: 71, message: 'Authorization failure' } ]]

username is NpPharma
organization is Manufacturer

got this error while trying to registering , any idea ?please let me know

[2022-05-04 21:50] ghost commented on #64
Error: Error trying login and get user Context. Error: Error trying to enroll user or load channel configuration. Error: Calling enrollment endpoint failed with error [Error: connect ECONNREFUSED 127.0.0.1:8054